@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <h3>This app is a demonstration of succeeded publish with Azure PowerShell</h3>

    <p>Some one:</p>
    <p>-Go learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br />
    <p>Another smart guy:</p>
    <p>-Go learn ASP.NET Core and learn how to
        <a href="https://learn.microsoft.com/en-us/powershell/azure/?view=azps-13.0.0">CI/CD with Azure PowerShell!</a>
    </p>

    


</div>
